# 空氣污染監測網 網路爬蟲實作練習


* 能夠利用 selenium + BeautifulSoup 撰寫爬蟲，並存放到合適的資料結構

## 作業目標

根據範例 ，完成以下問題：

* ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料
* ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

### ① 取出 台北市士林區 2018/01 – 2018/08 的 SO2 資料

In [26]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from bs4 import BeautifulSoup
browser=webdriver.Chrome(executable_path='../chromedriver')
browser.get('https://taqm.epa.gov.tw/taqm/tw/MonthlyAverage.aspx')

In [27]:
selectsite=Select(browser.find_element_by_id('ctl05_ddlSite'))
selectsite.select_by_value('11')
selectyear=Select(browser.find_element_by_id('ctl05_ddlYear'))
selectyear.select_by_value('2018')
browser.find_element_by_id('ctl05_btnQuery').click()

In [53]:
html_source=browser.page_source
soup=BeautifulSoup(html_source,'html.parser')
tags=soup.find('table',class_='TABLE_G').find('tbody').find_all('td')
datalist=[]
for tag in tags:
    data=tag.string
    datalist.append(data)

In [52]:
n=0 #第一項指標SO2
m=9 #注意末項不算，欲求8月要設定到9月
datelist=datalist[n+2:3*m-1:3]
valuelist=datalist[n+3:3*m:3]
so2data=dict(zip(datelist,valuelist)) #兩列表變一字典
print('SO2\n',so2data)

#建立dataframe
import pandas
pandas.DataFrame({'date':datelist,
                  'SO2':valuelist})

SO2
 {'2018/01': '1.80', '2018/02': '1.90', '2018/03': '2.20', '2018/04': '2.30', '2018/05': '3.10', '2018/06': '2.70', '2018/07': '2.20', '2018/08': '2.40'}

      date   SO2
0  2018/01  1.80
1  2018/02  1.90
2  2018/03  2.20
3  2018/04  2.30
4  2018/05  3.10
5  2018/06  2.70
6  2018/07  2.20
7  2018/08  2.40

### ② 取出 台北市士林區 2018/01 – 2018/08 的 SO2、CO 資料

In [51]:
i=38 #第二項指標CO
m=9 #注意末項不算，欲求8月要設定到9月
codatelist=datalist[i+2:3*(m)-1+i:3]
covaluelist=datalist[i+3:3*(m)+i:3]
codata=dict(zip(codatelist,covaluelist)) #兩列表變一字典
print('CO\n',codata)

#建立dataframe
import pandas
pandas.DataFrame({'date':datelist,
                  'SO2':valuelist,
                  'CO':covaluelist})

CO
 {'2018/01': '0.34', '2018/02': '0.44', '2018/03': '0.40', '2018/04': '0.38', '2018/05': '0.34', '2018/06': '0.29', '2018/07': '0.21', '2018/08': '0.30'}

      date   SO2    CO
0  2018/01  0.34  0.34
1  2018/02  0.44  0.44
2  2018/03  0.40  0.40
3  2018/04  0.38  0.38
4  2018/05  0.34  0.34
5  2018/06  0.29  0.29
6  2018/07  0.21  0.21
7  2018/08  0.30  0.30